.mezved {
    margin: 0 auto;
    margin-left: auto;
    margin-right: auto;
    padding: 31px;
    background-color: #FFFFFF;
    border-radius: 10px;
}
.filter{
    display: flex;
    flex-wrap:wrap;
}
.filter__item {
    margin-right: 40px; 
  }
.mezved__bpmn{
    width: 1176px;
    margin-left: auto;
    margin-right: auto;
}
.mezved_tab {
    margin-top: 15px;
}

.mezved_tab table {
    border-collapse: separate;
    border-spacing: 0 10px;
}

.mezved_tab th {
    background-color: #D6D9DC;
    color: #fff;
}

.mezved_tab thead th:first-child {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.mezved_tab thead th:last-child {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.mezved_tab td {
    background-color: #F5F7FA;
    text-align: left;
}

.mezved_tab td:first-child {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.mezved_tab td:last-child {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}
.mezved_tab td:hover{
    background-color: #e6e6e6;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
    cursor: pointer;
}