.home-list {
    list-style-type: none;
    padding: 0;
}

.home-list-item {
    display: inline-block;
    margin: 5px;
}

.rounded-button {
    border-radius: 50%;
}

.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h2 {
    color: #f0f0f0;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial, sans-serif;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000, 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 24px;
    line-height: 1.5;
    text-align: center;
}