.gosuslugi{
  width: 1176px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -200px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 10px;
  background-color: #ffffff;
}
.gosuslugi__button-group{
  display: flex;
  justify-content: space-between;
}
.gosuslugi__button-tab{
  display: flex;
  align-items: center;
}
/* .gosuslugi_table-container{
  border: 1px solid #ccc;
  margin-top: 20px;
  background: #FFFFFF;
  border-radius: 20px;
  margin: 5px 0;
  padding: 10px 10px;
  margin-left: -10px;
} */
.download_button {
  width: 63px;
  height: 40px;
  padding: 5px;
  border-radius: 40%;
}

.icon-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.gosuslugi_table-container {
  margin-top: 15px;
}

.gosuslugi_table-container table {
  border-collapse: separate;
  border-spacing: 0 10px;
}

.gosuslugi_table-container th {
  background-color: #D6D9DC;
  color: #000000;
}

.gosuslugi_table-container thead th:first-child {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.gosuslugi_table-container thead th:last-child {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

.gosuslugi_table-container td {
  background-color: #F5F7FA;
  text-align: left;
}

.gosuslugi_table-container td:first-child {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.gosuslugi_table-container td:last-child {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}
.gosuslugi_table-container tr:hover {
  background-color: #e6e6e6;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
  cursor: pointer;
  border-radius: 30px;
}
.gosuslugi_table-container thead tr:hover {
  background-color: transparent;
  box-shadow: none;
  cursor: default;
  border-radius: 0;
}
/* .gosuslugi_table-container td,
.gosuslugi_table-container th {
  padding: 10px;
} */
.modal-container{
  margin: auto;
  width: 1176px;
}