    /* .process-info {
        display: flex;
    }
    
    .task-buttons {
        flex: 1;
    }
    
    .task-details {
        flex: 2;
    }
    .export-button {
       
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin: 5px;
  padding: 8px 15px;
      } */