body {
  background-color: #66b3e7;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #2d88c5;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /*  размытие и тень */
}

h1 {
  color: #fff;
}


#xsd-reader {
  margin-top: 20px;
}

h2 {
  color: #080d0e;
}

textarea {
  width: 100%;
  padding: 12px; /* Увеличиваем внутренний отступ для лучшей читаемости */
  border: 2px solid #2d88c5;
  border-radius: 8px; /* Увеличиваем радиус скругления углов */
}

button {
  background-color: #2dbbc5;
  color: #fff;
  border: none;
  padding: 12px 24px; /* отступы кнопки */
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #2dc560;
}


.bpmn-diagram-container {
  width: 100%;
  height: 100%;
  padding: 20px;
  background-color: #f0fff6;
  border: 2px solid #2d88c5;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /*размытие и тень */
  resize: both;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

/* Медиазапрос для мобильных устройств (максимальная ширина 768px) */
@media (max-width: 768px) {
  .container {
    max-width: 100%;
    padding: 10px; /* Уменьшаем внутренний отступ для мобильных устройств */
  }

  textarea, button {
    width: 100%;
  }
}

/* Медиазапрос для планшетов (ширина 769px - 1024px) */
@media (min-width: 769px) and (max-width: 1024px) {
  .container {
    max-width: 90%;
  }
}
.bpmn-viewer-container {
  width: 50%; 
  height: 500px; 
}

